<!DOCTYPE html>
<html>
<head>
    <title>Student Information Webapp</title>
    <meta charset="utf-8">
</head>

<body>
{% if messages %}
  {% for m in messages %}
<p style="color:green;">{{m}}</p>
  {% endfor %}
{% endif %}
<p>Create a student:</p>
<form action="/sio/create-student" method="post">
{{ studentForm }}
<input type="submit" value="Add">
{% csrf_token %}
</form>

<hr>
<p>Create a course:</p>
<form action="/sio/create-course" method="post">
{{ courseForm }}
<input type="submit" value="Add">
{% csrf_token %}
</form>

<hr>
<p>Register a student for a course:</p>
<form action="/sio/register-student" method="post">
{{ registerForm }}
<input type="submit" value="Register">
{% csrf_token %}
</form>

<hr>
<p>Current course rosters:
<ul>
{% for course in courses %}
  <li>{{course}}<ul>
  {% for student in course.students.all %}
    <li>{{student}}</li>
  {% endfor %}
  </ul></li>
{% endfor %}
</ul>
</p>

</body>
